{% extends 'main/announcements.html' %}
{% block content %}
    <h2>Welcome to Providence Girls Secondary</h2>
    <p>The school is informing parents and guardians that the 2025-2026 first term opens on 22nd September, 2025. <strong>However, all students who have not finished paying school fees will be sent home until the term 3 school fees are cleared. Please, settle the outstanding amount before commencement of the term. This will also apply to students who lost school library book.</strong></p>
    <h2>For more details about Academic Calendar, see the table below:</h2>
    <li style="margin-bottom: 10px;">
{% endblock %}