{% extends 'main/announcements.html' %}
{% block content %}
    <h2>ACADEMIC CALENDARS AND DATES OF OPENING AND CLOSING EACH TERM</h2>
    <h3>2025-2026 ACADEMIC CALENDAR (TERM ONE)</h3>
    <p>The school is informing parents and guardians that the 2025-2026 first term opens on 22nd September, 2025. <strong>However, all students who have not finished paying school fees will be sent home until the term 3 school fees are cleared. Please, settle the outstanding amount before commencement of the term. This will also apply to students who lost school library book.</strong></p>
    <h2>For more details about Academic Calendar, see the table below:</h2>

    <h2 style="text-align:center;">2025/2026 ACADEMIC CALENDAR</h2>

<table style="width:100%; border-collapse: collapse; margin-bottom: 20px;">
  <tr>
    <th style="border: 2px solid black; padding: 10px;">TERM</th>
    <th style="border: 2px solid black; padding: 10px;">OPENING</th>
    <th style="border: 2px solid black; padding: 10px;">CLOSING</th>
    <th style="border: 2px solid black; padding: 10px;">TOTAL WEEKS</th>
    <th style="border: 2px solid black; padding: 10px;">HOLIDAY</th>
  </tr>
  <tr>
    <td style="border: 2px solid black; padding: 10px;">One</td>
    <td style="border: 2px solid black; padding: 10px;">22nd September, 2025</td>
    <td style="border: 2px solid black; padding: 10px;">19th December, 2025</td>
    <td style="border: 2px solid black; padding: 10px;">13 Weeks</td>
    <td style="border: 2px solid black; padding: 10px;">2 Weeks</td>
  </tr>
  <tr>
    <td style="border: 2px solid black; padding: 10px;">Two</td>
    <td style="border: 2px solid black; padding: 10px;">5th January, 2026</td>
    <td style="border: 2px solid black; padding: 10px;">2nd April, 2026</td>
    <td style="border: 2px solid black; padding: 10px;">13 Weeks</td>
    <td style="border: 2px solid black; padding: 10px;">2 Weeks</td>
  </tr>
  <tr>
    <td style="border: 2px solid black; padding: 10px;">Three</td>
    <td style="border: 2px solid black; padding: 10px;">20th April, 2026</td>
    <td style="border: 2px solid black; padding: 10px;">24th July, 2026</td>
    <td style="border: 2px solid black; padding: 10px;">14 Weeks</td>
    <td style="border: 2px solid black; padding: 10px;">7 Weeks</td>
  </tr>
</table>

<ol type="a">
  <li>The First Term will open on 22nd September, 2025 and will close on 19th December, 2025, followed by a 2 weeks holiday.</li>
  <li>The Second Term will open on 5th January, 2026 and close on 2nd April, 2026, followed by a two weeks holiday.</li>
  <li>The Third term will open on 20th April, 2026 and close on the 24th July, 2026, followed by a 7 weeks holiday.</li>
</ol>




{% endblock %}