{% extends 'main/base.html' %}
{% load static %}

{% block content %}
    <h2>Announcements</h2>
    <p>
        <strong>Below are all announcements for Providence Girls Secondary School.</strong> They are arranged in <strong>chronological order</strong>
    </p>

     <li style="margin-bottom: 10px;">
        <a href="{% url 'music_album_launch' %}">Music Album Launch Announcement</a>
    </li>

    <li style="margin-bottom: 10px;">
         <a href="{% url 'academic_calendar' %}">2025-2026 Academic Calendar</a>
    </li>

     <li style="margin-bottom: 10px;">
         <a href="{% url 'nsonkhano_makolo_2025' %}">2025-2026 PTA Meeting Invitation</a>
    </li>

     <li style="margin-bottom: 10px;">
         <a href="{% url 'mankhwala_katemera_2025' %}">Kudziwitsa Makolo za Mankhwala ndi Katemera-2025</a>
    </li>

     <li style="margin-bottom: 10px;">
         <a href="{% url 'drug_vaccine_2025' %}">Informing parents and guardians about mass drug administration-2025</a>
    </li>
{% endblock %}
