{% extends 'main/base.html' %}

{% block content %}
  <h2>Important Events – Term One (2025–2026 Academic Year)</h2>

  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }
    th, td {
      border: 1px solid black;
      padding: 5px;
      text-align: left;
    }
    th {
      background-color: #f0f0f0;
    }
  </style>

  <!-- Temporarily showing Term Three data -->
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Day</th>
        <th>Event</th>
      </tr>
    </thead>
    <tbody>
      <tr><td>22nd September</td><td>Monday</td><td>Arrival of Form One and Continuing Students and the Search Exercise</td></tr>
      <tr><td>29th September</td><td>Monday</td><td>First General Assembly</td></tr>
      <tr><td>2nd October</td><td>Thursday</td><td>Management Meeting</td></tr>
      <tr><td>4th October</td><td>Saturday</td><td>Opening Disco</td></tr>
      <tr><td>8th October</td><td>Tuesday</td><td>Guidance and Counselling of the Form One Students</td></tr>
      <tr><td>9th October</td><td>Thursday</td><td>Staff Meeting</td></tr>
      <tr><td>10th October</td><td>Friday</td><td>PTA Executive Meeting</td></tr>
      <tr><td>13th October - 17th October</td><td>Monday - Friday</td><td>First Continuous Assessment</td></tr>
      <tr><td>15th October</td><td>Wednesday</td><td>Mothers' Day Holiday</td></tr>
      <tr><td>25th October</td><td>Saturday</td><td>Talent Show</td></tr>
      <tr><td>27th October</td><td>Monday</td><td>Second General Assembly</td></tr>
      <tr><td>27th October</td><td>Monday</td><td>Language Departmental Meeting</td></tr>
      <tr><td>28th October</td><td>Tuesday</td><td>Guidance and Counselling of Form Three Students</td></tr>
      <tr><td>29th October</td><td>Wednesday</td><td>Guidance and Counselling of the Form Four Students</td></tr>
      <tr><td>30th October</td><td>Thursday</td><td>Humanities Departmental Meeting</td></tr>
      <tr><td>30th October</td><td>Thursday</td><td>ThanksGiving Mass (Form 3 Students)</td></tr>
      <tr><td>3rd November</td><td>Monday</td><td>All Saints Day Holiday</td></tr>
      <tr><td>4th November</td><td>Tuesday</td><td>Guidance and Counselling of the Form Two Students</td></tr>
      <tr><td>5th November</td><td>Wednesday</td><td>Discipline Committee Meeting</td></tr>
      <tr><td>6th November</td><td>Thursday</td><td>Science Departmental Meeting</td></tr>
       <tr><td>7th November</td><td>Friday</td><td>PTA Meeting</td></tr>
      <tr><td>7th November</td><td>Friday</td><td>PTA Elections</td></tr>
      <tr><td>7th November</td><td>Friday</td><td>Meritorious Awards</td></tr>
      <tr><td>7th November</td><td>Friday</td><td>Quiz Competitions</td></tr>
      <tr><td>10th November - 14th November</td><td>Monday - Friday</td><td>Second Continuous Assessment</td></tr>
      <tr><td>21st November</td><td>Friday</td><td>Inter-Class Sports Games</td></tr>
      <tr><td>24th November - 28th November</td><td>Monday - Friday</td><td>Preparations and Submissions of End of Term One Examination papers</td></tr>
      <tr><td>28th November</td><td>Friday</td><td>Third General Assembly</td></tr>
      <tr><td>1st December - 5th December</td><td>Monday - Friday</td><td>Revision and Commencement of Term One Examinations</td></tr>
      <tr><td>8th December - 12th December</td><td>Monday - Friday</td><td>Administration of End of Term One Examinations</td></tr>
      <tr><td>15th December - 19th December</td><td>Monday - Thursday</td><td>Continuation of End of Term One Examinations</td></tr>
      <tr><td>17th December</td><td>Wednesday</td><td>Last General Assembly</td></tr>
      <tr><td>17th December</td><td>Wednesday</td><td>Closing Disco</td></tr>
      <tr><td>18th December</td><td>Thursday</td><td>Departure of Students</td></tr>
      <tr><td>19th December</td><td>Friday</td><td>Staff Meeting</td></tr>  
    </tbody>
  </table>

  <p style="margin-top: 20px;">
    <a href="{% url 'events' %}">← Back to Events</a>
  </p>

  <h3>If you have questions, comments or observations please contact 0995787592 immediately.</h3>
{% endblock %}
