{% extends 'main/announcements.html' %}

{% block content %}
<h2 style="text-align:center;">2025/2026 Form 1 Selection</h2>
<p style="text-align:center;">Below is the official selection list for the 2025/2026 academic year.</p>

<!-- ===================== FORM 1A ===================== -->
<h3>Form 1A</h3>
<table style="width:100%; border-collapse: collapse; margin-bottom: 20px; text-align:center;">
  <thead>
    <tr>
      <th style="border: 2px solid black; padding: 8px;">No.</th>
      <th style="border: 2px solid black; padding: 8px; text-align:left;">Name</th>
      <th style="border: 2px solid black; padding: 8px;">Sponsor</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>1</td><td style="text-align:left;">Alumando Honester</td><td>Govt</td></tr>
    <tr><td>2</td><td style="text-align:left;">Banda Bernadette Faith</td><td>Govt</td></tr>
    <tr><td>3</td><td style="text-align:left;">Benito Angella</td><td>Govt</td></tr>
    <tr><td>4</td><td style="text-align:left;">Chavula Elisa</td><td>Govt</td></tr>
    <tr><td>5</td><td style="text-align:left;">Mafuno Chikhosi</td><td>ECM</td></tr>
    <tr><td>6</td><td style="text-align:left;">Charles Tamalah</td><td>ECM</td></tr>
    <tr><td>7</td><td style="text-align:left;">Chiwale Gloria Patience</td><td>ECM</td></tr>
    <tr><td>8</td><td style="text-align:left;">Chilukani Shanill Biniwell</td><td>Govt</td></tr>
    <tr><td>9</td><td style="text-align:left;">Chipeta Amanda Laetitia</td><td>Govt</td></tr>
    <tr><td>10</td><td style="text-align:left;">Chirwa Chanju Manase</td><td>Govt</td></tr>
    <tr><td>11</td><td style="text-align:left;">Chumanika Alinafe</td><td>ECM</td></tr>
    <tr><td>12</td><td style="text-align:left;">Dobe Zione</td><td>Asp</td></tr>
    <tr><td>13</td><td style="text-align:left;">Dzimphonje Talisa</td><td>ECM</td></tr>
    <tr><td>14</td><td style="text-align:left;">Dyton Bethel</td><td>Govt</td></tr>
    <tr><td>15</td><td style="text-align:left;">Gowa Grace</td><td>ECM</td></tr>
    <tr><td>16</td><td style="text-align:left;">Hara Flora</td><td>Govt</td></tr>
    <tr><td>17</td><td style="text-align:left;">Kagwada Mary</td><td>Govt</td></tr>
    <tr><td>18</td><td style="text-align:left;">Kalimbuka Brenda</td><td>ECM</td></tr>
    <tr><td>19</td><td style="text-align:left;">Kamoto Brenda</td><td>ECM</td></tr>
    <tr><td>20</td><td style="text-align:left;">Kampayi Innoceccia</td><td>ECM</td></tr>
    <tr><td>21</td><td style="text-align:left;">Kamuyalo Miracle</td><td>Govt</td></tr>
    <tr><td>22</td><td style="text-align:left;">Katukana Daisy Edward</td><td>Govt</td></tr>
    <tr><td>23</td><td style="text-align:left;">Kuko Janishu Nasolo</td><td>Govt</td></tr>
    <tr><td>24</td><td style="text-align:left;">Lupenga Nolia</td><td>Govt</td></tr>
    <tr><td>25</td><td style="text-align:left;">Magalasi Lin</td><td>Govt</td></tr>
    <tr><td>26</td><td style="text-align:left;">Maguja Yansita</td><td>Asp</td></tr>
    <tr><td>27</td><td style="text-align:left;">Matope Glory</td><td>Govt</td></tr>
    <tr><td>28</td><td style="text-align:left;">Milinje Judith Sidreck</td><td>Govt</td></tr>
    <tr><td>29</td><td style="text-align:left;">Mwafulirwa Shalom</td><td>Govt</td></tr>
    <tr><td>30</td><td style="text-align:left;">Mwale Maria</td><td>Govt</td></tr>
    <tr><td>31</td><td style="text-align:left;">Msendema Grace Tupali</td><td>ECM</td></tr>
    <tr><td>32</td><td style="text-align:left;">Mwandama Mary</td><td>Govt</td></tr>
    <tr><td>33</td><td style="text-align:left;">Mpwatika Victoria</td><td>ECM</td></tr>
    <tr><td>34</td><td style="text-align:left;">Ngwenya Angella</td><td>Govt</td></tr>
    <tr><td>35</td><td style="text-align:left;">Pachuluka Praise</td><td>Govt</td></tr>
    <tr><td>36</td><td style="text-align:left;">Phiri Ritta</td><td>ECM</td></tr>
    <tr><td>37</td><td style="text-align:left;">Sani Bridget</td><td>ECM</td></tr>
    <tr><td>38</td><td style="text-align:left;">Somido Matilda</td><td>Govt</td></tr>
    <tr><td>39</td><td style="text-align:left;">Sr Catherine Mwansambo</td><td>Asp</td></tr>
    <tr><td>40</td><td style="text-align:left;">Usale Calister</td><td>Asp</td></tr>
    <tr><td>41</td><td style="text-align:left;">Sphiwe Waluza</td><td>ECM</td></tr>
    <tr><td>42</td><td style="text-align:left;">Wines Novahiwa</td><td>ECM</td></tr>
    <tr><td>43</td><td style="text-align:left;">Zgambo Dorica</td><td>Govt</td></tr>
  </tbody>
</table>

<!-- ===================== FORM 1B ===================== -->
<h3>Form 1B</h3>
<table style="width:100%; border-collapse: collapse; margin-bottom: 20px; text-align:center;">
  <thead>
    <tr>
      <th style="border: 2px solid black; padding: 8px;">No.</th>
      <th style="border: 2px solid black; padding: 8px; text-align:left;">Name</th>
      <th style="border: 2px solid black; padding: 8px;">Sponsor</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>1</td><td style="text-align:left;">Ashan Mercy</td><td>Govt</td></tr>
    <tr><td>2</td><td style="text-align:left;">Banda Glory</td><td>ECM</td></tr>
    <tr><td>3</td><td style="text-align:left;">Banda Felista</td><td>Govt</td></tr>
    <tr><td>4</td><td style="text-align:left;">Buluzi Promise</td><td>ECM</td></tr>
    <tr><td>5</td><td style="text-align:left;">Biason Shyreen Christon</td><td>Govt</td></tr>
    <tr><td>6</td><td style="text-align:left;">Chiwaya Mary</td><td>ECM</td></tr>
    <tr><td>7</td><td style="text-align:left;">Chibwana Shyreen</td><td>Govt</td></tr>
    <tr><td>8</td><td style="text-align:left;">Chimbalawala Linily</td><td>Govt</td></tr>
    <tr><td>9</td><td style="text-align:left;">Chikopa Fiona</td><td>ECM</td></tr>
    <tr><td>10</td><td style="text-align:left;">Chipondo Nicole Ulemu</td><td>Govt</td></tr>
    <tr><td>11</td><td style="text-align:left;">Chitsulo Shyness</td><td>Govt</td></tr>
    <tr><td>12</td><td style="text-align:left;">Friday Sharon Rose</td><td>Govt</td></tr>
    <tr><td>13</td><td style="text-align:left;">Foster Selina</td><td>Govt</td></tr>
    <tr><td>14</td><td style="text-align:left;">Finis Esmie Angella</td><td>ECM</td></tr>
    <tr><td>15</td><td style="text-align:left;">Jamu Glory Ekari</td><td>Govt</td></tr>
    <tr><td>16</td><td style="text-align:left;">Jambo Lovess</td><td>ECM</td></tr>
    <tr><td>17</td><td style="text-align:left;">January Rose</td><td>ECM</td></tr>
    <tr><td>18</td><td style="text-align:left;">Kalionera Victoria</td><td>Govt</td></tr>
    <tr><td>19</td><td style="text-align:left;">Kaseka Asante Ericka</td><td>ECM</td></tr>
    <tr><td>20</td><td style="text-align:left;">Kamzingeni Angella</td><td>Govt</td></tr>
    <tr><td>21</td><td style="text-align:left;">Kenan Chidzalo Anna</td><td>Govt</td></tr>
    <tr><td>22</td><td style="text-align:left;">Novahiwa Kumwenda</td><td>Govt</td></tr>
    <tr><td>23</td><td style="text-align:left;">Machika Favour Tadala</td><td>Govt</td></tr>
    <tr><td>24</td><td style="text-align:left;">Malike Diana</td><td>Govt</td></tr>
    <tr><td>25</td><td style="text-align:left;">Malunje Anastanzia</td><td>ECM</td></tr>
    <tr><td>26</td><td style="text-align:left;">Mchakama Deborah</td><td>Govt</td></tr>
    <tr><td>27</td><td style="text-align:left;">Mkandawire Sharon</td><td>Govt</td></tr>
    <tr><td>28</td><td style="text-align:left;">Mwale Niza Thumbiku</td><td>Govt</td></tr>
    <tr><td>29</td><td style="text-align:left;">Morris Letticia</td><td>ECM</td></tr>
    <tr><td>30</td><td style="text-align:left;">Mota Karen</td><td>ECM</td></tr>
    <tr><td>31</td><td style="text-align:left;">Mwenelupembe Uwemie</td><td>Govt</td></tr>
    <tr><td>32</td><td style="text-align:left;">Mjiku Victory</td><td>Asp</td></tr>
    <tr><td>33</td><td style="text-align:left;">M'meta Trinity</td><td>ECM</td></tr>
    <tr><td>34</td><td style="text-align:left;">Nthaka Esther</td><td>Govt</td></tr>
    <tr><td>35</td><td style="text-align:left;">Phwandaphwanda Trinity</td><td>Asp</td></tr>
    <tr><td>36</td><td style="text-align:left;">Peter Rozario Gloria</td><td>ECM</td></tr>
    <tr><td>37</td><td style="text-align:left;">Phiri Chifundo</td><td>Govt</td></tr>
    <tr><td>38</td><td style="text-align:left;">Sr Rozina Limbani</td><td>Asp</td></tr>
    <tr><td>39</td><td style="text-align:left;">Samuti Grace</td><td>ECM</td></tr>
    <tr><td>40</td><td style="text-align:left;">Tumabi Takondwa</td><td>ECM</td></tr>
    <tr><td>41</td><td style="text-align:left;">Tchongwe Shallon</td><td>Govt</td></tr>
  </tbody>
</table>

<!-- ===================== FORM 1C ===================== -->
<h3>Form 1C</h3>
<table style="width:100%; border-collapse: collapse; margin-bottom: 20px; text-align:center;">
  <thead>
    <tr>
      <th style="border: 2px solid black; padding: 8px;">No.</th>
      <th style="border: 2px solid black; padding: 8px; text-align:left;">Name</th>
      <th style="border: 2px solid black; padding: 8px;">Sponsor</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>1</td><td style="text-align:left;">Balakasi Rachael</td><td>Govt</td></tr>
    <tr><td>2</td><td style="text-align:left;">Bauleni Anastanzia</td><td>ECM</td></tr>
    <tr><td>3</td><td style="text-align:left;">Banda Praise</td><td>Govt</td></tr>
    <tr><td>4</td><td style="text-align:left;">Bonni Rejoice</td><td>ECM</td></tr>
    <tr><td>5</td><td style="text-align:left;">Bokosi Joana</td><td>Govt</td></tr>
    <tr><td>6</td><td style="text-align:left;">Chikuse Naomie Rabecca</td><td>Govt</td></tr>
    <tr><td>7</td><td style="text-align:left;">Chombo Ariana</td><td>ECM</td></tr>
    <tr><td>8</td><td style="text-align:left;">Chilunda Glory</td><td>ECM</td></tr>
    <tr><td>9</td><td style="text-align:left;">Chinsewu Jessie Samson</td><td>Govt</td></tr>
    <tr><td>10</td><td style="text-align:left;">Chinkhandwe Nthanda</td><td>ECM</td></tr>
    <tr><td>11</td><td style="text-align:left;">Chirambo Nancy Kamenya</td><td>Govt</td></tr>
    <tr><td>12</td><td style="text-align:left;">Dobvu Ruth</td><td>Govt</td></tr>
    <tr><td>13</td><td style="text-align:left;">Duwa Prisca</td><td>ECM</td></tr>
    <tr><td>14</td><td style="text-align:left;">Fondo Jestina</td><td>ECM</td></tr>
    <tr><td>15</td><td style="text-align:left;">Fundi Patience</td><td>Govt</td></tr>
    <tr><td>16</td><td style="text-align:left;">Gondwe Rabecca</td><td>Asp</td></tr>
    <tr><td>17</td><td style="text-align:left;">Juma Hasfa Yusuf</td><td>Govt</td></tr>
    <tr><td>18</td><td style="text-align:left;">Kalokwete Jedidah</td><td>Govt</td></tr>
    <tr><td>19</td><td style="text-align:left;">Kabudula Immaculate</td><td>ECM</td></tr>
    <tr><td>20</td><td style="text-align:left;">Kalema Victoria</td><td>ECM</td></tr>
    <tr><td>21</td><td style="text-align:left;">Kagwa Shamiso</td><td>ECM</td></tr>
    <tr><td>22</td><td style="text-align:left;">Katenje Matilda</td><td>Govt</td></tr>
    <tr><td>23</td><td style="text-align:left;">Khongwe Flonny</td><td>ECM</td></tr>
    <tr><td>24</td><td style="text-align:left;">Khemesi Grace</td><td>Govt</td></tr>
    <tr><td>25</td><td style="text-align:left;">Luwani Paula</td><td>ECM</td></tr>
    <tr><td>26</td><td style="text-align:left;">Lungu Tapiwa</td><td>Govt</td></tr>
    <tr><td>27</td><td style="text-align:left;">Madambo Hanna</td><td>Govt</td></tr>
    <tr><td>28</td><td style="text-align:left;">Madinga Leshawina</td><td>Asp</td></tr>
    <tr><td>29</td><td style="text-align:left;">Maulana Clara</td><td>ECM</td></tr>
    <tr><td>30</td><td style="text-align:left;">Mangazao Chikondi</td><td>Govt</td></tr>
    <tr><td>31</td><td style="text-align:left;">Mguntha Diana</td><td>Govt</td></tr>
    <tr><td>32</td><td style="text-align:left;">Mtembenuzeni Mwayi Unique</td><td>Govt</td></tr>
    <tr><td>33</td><td style="text-align:left;">Mwale Elizabeth</td><td>Govt</td></tr>
    <tr><td>34</td><td style="text-align:left;">Muhama Annabel</td><td>ECM</td></tr>
    <tr><td>35</td><td style="text-align:left;">Mvula Ruth</td><td>Govt</td></tr>
    <tr><td>36</td><td style="text-align:left;">Nkhoma Precious</td><td>ECM</td></tr>
    <tr><td>37</td><td style="text-align:left;">Nyondo Chifundo</td><td>Govt</td></tr>
    <tr><td>38</td><td style="text-align:left;">Phiri Roselyn</td><td>ECM</td></tr>
    <tr><td>39</td><td style="text-align:left;">Senyolo Mary</td><td>Govt</td></tr>
    <tr><td>40</td><td style="text-align:left;">Simeon Faith</td><td>Asp</td></tr>
    <tr><td>41</td><td style="text-align:left;">Zgambo Hellen</td><td>Govt</td></tr>
  </tbody>
</table>

<p style="text-align:center; font-weight:bold;">Download PDF (Password: proviess)</p>

{% endblock %}
