{% extends 'main/base.html' %}

{% block content %}
    <h2>Welcome to St Philomena Girls Catholic Secondary</h2>
    <p>This is the homepage of the school website.</p>
    <h2>Please fill and submit the form below</h2>
    <li style="margin-bottom: 10px;">
            <a href="https://script.google.com/macros/s/AKfycbxDWBAnRdTn9ydnURr1DOc8SFpGPfhuq3KY6FoBqACErNyOiK3hNcMTc7ODMt9LtKDGhg/exec">St Philomena Student & Parent Record Form</a>
        </li>

        <li style="margin-bottom: 10px;">
            <a href="https://script.google.com/macros/s/AKfycbw9Nnv08XFf_UzyYjmbDCCy8N0_xnvk5eEaEJEZYcQCgO09BZ0OlorIgRE2gIvzGrHNqQ/exec">St Philomena Health Consent Collection Form (Fomu yopempha chilolezo kwa makolo)</a>
        </li>



{% endblock %}
