{% extends 'main/announcements.html' %}

{% block content %}
<h2 style="text-align:center;">2025/2026 Term 1 PTA Meeting Invitation</h2>

<p><strong>Kuchokera kwa :</strong> The Headmistress, Providence Girls Secondary School, Post Office Box 136, Chisitu.</p>
<p><strong>Kupita kwa :</strong> Makolo onse a ana a ku Providence Girls Secondary School</p>
<p><strong>cc :</strong> The Board Chairperson, Providence Girls Secondary School</p>

<p><strong>Okondedwa Makolo Nonse,</strong></p>

<h3 style="text-align:center;">KUITANIDWA KU MSONKHANO WA PTA WA TERM YOYAMBA</h3>

<p>M’malo mwa <strong>School Administration</strong> ndi <strong>PTA Executive</strong>, tikukuitanani kumsonkhano woyamba wa Providence Girls Secondary School PTA.</p>

<p><strong>Ndondomeko yake ili motere:</strong></p>

<ul>
  <li><strong>Tsiku:</strong> Friday, 7th November 2025</li>
  <li><strong>Malo:</strong> Providence Girls Secondary School Hall</li>
</ul>

<p><strong>Mitu ya zokambirana:</strong></p>
<ol>
  <li>Kulandira ndi kuongolera makolo a ana a Fomu 1 ndi Fomu 3</li>
  <li>Malipoti kuchokera ku:
    <ul>
      <li>Kusukulu</li>
      <li>PTA</li>
    </ul>
  </li>
  <li>Zisankho (Kusankha committee yatsopano)</li>
  <li>Kutolera mapulani otukulira sukulu yathu</li>
  <li>AOB</li>
</ol>

<p>Tidzakhala okondwa ndi chiyembekezo chifukwa chakubwera kwanu ndi machawi anu patsikuli.</p>

<p>Ndine wanu mwa Ambuye,</p>
<p><strong>Sr. Mary Chikaonda</strong><br>
(The Headmistress)</p>

<p style="text-align:center; font-weight:bold;">LUX ET VERITAS</p>

{% endblock %}
